.DS_Store

#################
## IntelliJ
#################
.idea/
*/target/*

*.iml
*.class

*.log
*/logs/*

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

##################


\.project

StreamProcessorSpark/\.settings/

\.settings/

CloudWeb/target/

CloudWeb/\.classpath

Collector/target/

Collector/\.classpath

HBaser/\.classpath

HBaser/target/

StreamProcessorFlink/target/

StreamProcessorFlink/\.classpath

StreamProcessorSpark/target/

StreamProcessorSpark/\.classpath
