.overview__layout
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  .chart__wrapper
    display: flex;
    flex-flow: column;
    justify-content center
    align-items center
    span.label
      font-size: 14pt
      border-bottom 2px solid var(--theme-color)

  .chart
    width 340px
    height 310px
    &.non-echart
      width: 340px
      height: 300px
  .numerical__aqi
    border-radius 50%
    padding 32px 0
    display flex
    flex-flow column nowrap
    justify-content space-between
    align-items center
    .group
      display flex
      flex-flow column
      justify-content center
      align-items center
    .en, .zh
      font-size 24pt
    .value
      font-size 16pt


  .ball__layout
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover .ball .water
      height: 122%;
    .ball
      position: relative;
      overflow: hidden;
      width: 280px;
      height: 280px;
      border: 6px solid #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0, 0, 0, .5);
      .water
        filter: blur(2px) saturate(3)
        background-image: url(/images/waves.png);
        background-position: top right;
        transition: all 1s ease-out;
        bottom: 0;
        height: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
    .value__layout
      position: absolute;
      left: 0;
      top: 0;
      margin: 10%;
      width: 80%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      .value
        z-index: 9;

.aqi-table
  max-width 1200px
  overflow-x auto
  box-shadow 0 1px 1px 1px rgba(0,0,0,0.16)
  .table
    background white
  .head
    text-align left
    width 10rem
    display block
    border-right 1px solid black
  th, td
    padding 0.5rem
    span
      padding 4px

.content
  section.hide
    height 0
    overflow hidden
    padding 0